/*autor Konrad Lubera*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}
html, body{
    color: #eeeeee;
    background-color: whitesmoke;
    padding: 10px;
}

.container{
    background-color: #202040;
    margin: auto;
    width: 40%;
    height: 95vh;
    min-height: 500px;
    border: solid 1px #303841;
    box-shadow: 0 8px 50px -7px black;
    padding: 1px;
}

.top{
    text-align: center;
    width: 100%;
    height: 20%;


}

.top h1{
    padding-top: 50px;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 300;

}

.top p{

    font-size: 1.5rem;
    font-weight: 300;

}

.hint{
    width: 40%;
    height: 30%;
    font-weight: 300;
    background-color: #ffbd69;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.hint:hover{
    background-color: #ff6363;
}

.hint:active{
    background-color: #b10000;
}

.board_container{
    width: 100%;
    height: 80%;
    padding: 10px;
}

#board{
    background-color: #543864;
    width: 100%;
    height: 100%;
    display: grid;
    /*grid-template-columns: auto auto auto auto auto auto ;*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
}

.block{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: all 0.2s ease-in-out;
    outline: none;
}



.block:active{
    background-color: whitesmoke !important;
}


@media only screen and (max-width: 802px){

    html,body{
        padding: 1px;
    }
    .container{
        width: 100%;
        height: 99vh;
    }

    .top h1{
        font-size: 2rem;
        padding-top: 20px;
    }

    .top p{
        font-size: 1.2rem;

    }


    .hint{
        font-size: 1.2rem;
    }
}

@media (min-width: 1100px) {
    .block:hover{
        background-color:  #ffbd69 !important;
    }
}

@media only screen and (min-width: 803px) and (max-width: 1100px){
    .container{
        width: 80%;
        height: 95vh;
    }

    .block:hover{
        background-color:  #ffbd69 !important;
    }
}




@media only screen and (max-width: 850px) and (orientation: landscape){

    html,body{
        padding: 1px;
    }


    .top h1{
        font-size: 2rem;
        padding-top: 0px;
    }

    .container{
        width: 100%;
        min-height: 300px;
        height: 99vh;
    }



}

@media only screen and (max-height: 320px) and (orientation: landscape){

    .top h1{
        font-size: 1.2rem;
        padding-top: 0px;
    }

    .container{
        width: 100%;
        min-height: 200px;
        height: 99vh;
    }


    .top p{
        font-size: 1rem;

    }

}